#Ignore Folders
[Bb]uilds
[Tt]emp
[Ll]ibrary
[Oo]bj
[Ll]ogs
[Uu]ser[Ss]ettings
.idea

*.csproj
*.sln
*.user
*.suo
.vs/
.vscode/
.vscode/*
*.userprefs
*.pidb
*.booproj
*.tmp
*.svd
*.pdb
*.mdb
.opendb
.sln
.csproj
.unityproj
.tmp
.user
.userprefs
.apk
.suo
.DS_Store
.gitconfig
*DonutProject*

# JetBrains Rider / Visual Studio Code caches
.idea/
.vscode/
